body {
    height: 100vh;
    width: 100vw;
}
table {
    border-collapse: collapse;
    border: 10px solid blue;
    table-layout: fixed;
    width: 800px;px;
    height: 800px;px;
}
td {
    border: 2px solid blue;
}
.colored-red {
    background-color: red;
}

.table .colored-black {
    background-color: white;
}

.table .colored-white {
    background-color: red;
}